/*----- Global -----*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

li {
    list-style-type: none;
}
a {
    text-decoration:none;
    color:black;
}
/*----- Global -----*/




/*----- Body -----*/
body {

}
/*----- Body -----*/




/*----- Navigation -----*/
#navigation {
    display:flex;
    flex-direction:row;
    background-color: rgb(17, 16, 16);
    height:70px;
    padding:0 6rem;
    justify-content: space-around;
    align-items: center;
}

#nav-list {
    display:flex;
    flex-direction: row;
}
#nav-list li {
    margin:0 1rem;
}
#nav-list li a {
    color:white;
    text-transform:uppercase;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: 2px;
    padding:1.32rem 0;
    border-bottom:3px solid transparent;
    transition:border 300ms;
}
#nav-list li a:hover {
    border-bottom:4px solid rgb(255, 220, 24);
}

#right-menu {
    display:flex;
    flex-direction:row;
}
#right-menu li {
    margin:0 0.7rem;
}
#right-menu li img {
    cursor: pointer;
}
/*----- Navigation -----*/




/*----- Header -----*/
#header {
    width: 100%;
    height:89vh;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(images/header-bg.jpg)   scroll  round;
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding-left:10rem;
}
#header p {
    color:white;
    font-size:1.2rem;
    font-family: sans-serif;
}
#header p::before {
    content: "";
    display:inline-block;
    width:45px;
    height:3.2px;
    background-color: rgb(255, 220, 24);
    margin:0 0.5rem 0.4rem 0;
}
#header p span {
    color:rgb(255, 220, 24);
    font-weight:500;
}
#header h1 {
    width:600px;
    color:white;
    font-size:3rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
    margin-top:1.4rem;
}
#header h1::selection {
    color:rgb(255, 220, 24);
}
/*----- Header -----*/



/*----- Section Us -----*/
#us {
    width:100%;
    height: 100vh;
    background-color: rgb(17, 16, 16);
    display:flex;
    flex-direction:column;
    align-items: center;
}
#us header {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:2.7rem 0 2rem;
}
#us header h2 {
    color:rgb(255, 220, 24);
    font-size:3rem;
    text-transform:uppercase;
    letter-spacing: 2.5px;
    font-family: 'JetBrains Mono', monospace;
    margin:0.7rem;
}
#us header div {
    display:flex;
    flex-direction:row;
}
#us header div hr {
    width:250px;
    height:0.0001px;
    border:0.0001px solid gray;
    border-radius:100px;
    background:gray;
}
#us header div div {
    transform:rotate(45deg);
    background:rgb(255, 220, 24);
    height:5px;
    width:5px;
    margin:0 0.5rem;
}

#us #content {
    display: flex;
    flex-direction:row;
    color:white;
}
#us #content h3 {
    color:rgb(255, 220, 24);
    letter-spacing: 2px;
    font-family: 'JetBrains Mono', monospace;
}
#us #content #float {
    text-align: right;
}
#us #content .left {
    width: 350px;
    display: flex;
    flex-direction: row;
    margin:3rem -1rem;
    align-items: center;
    justify-items: center;
}
#us #content .left img {
    height:60px;
    width:55px;
    margin:1rem;
}
#us #content .left h3 {
    margin:0.9rem 0;
}


#us #content .center {
    margin-top:2rem;
}

#us #content .right {
    width: 350px;
    display: flex;
    flex-direction: row;
    margin:3rem -1rem;
    align-items: center;
    justify-items: center;
}
#us #content .right img {
    width:55px;
    height:60px;
    margin:1rem;
}
#us #content .right h3 {
    margin:0.9rem 0;
}
#us #content .right p, #us #content .left p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*----- Section Us -----*/



/*----- Section pho -----*/
#pho {
    width:100%;
    display:flex;
    flex-direction:row;
    background:rgb(238, 235, 235);
}
#pho img {
    display: block;
}

#pho .row {
    display:flex;
    flex-direction:column;
}
#pho .row div {
    display:flex;
    flex-direction:row;
}


.img-row1-c1 {
    position:relative;
}
.img-row1-c1 p {
    text-transform: uppercase;
    position: absolute;
    font-size:2rem;
    font-weight:500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(113, 149, 0);
    width:100px;
    top:70px;
    left:70px;
    letter-spacing:3px;
}
.img-row1-c1 a {
    position:absolute;
    color:rgb(113, 149, 0);
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:200px;
    left:80px;
    padding:10px;
    transition:border 200ms;
}
.img-row1-c1 a:hover {
    border:2px solid rgb(113, 149, 0);
}
.img-row1-c1 img {
    width:350px;
    height:595px;
}



.img-row1-c2 img {
    width: 300px;
    height:280px;
}


.img-row1-c3 {
    position:relative;
}
.img-row1-c3 p {
    position: absolute;
    font-size:2rem;
    font-weight:500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(86, 144, 153);
    width:250px;
    text-transform: uppercase;
    letter-spacing: 3px;
    top:35%;
    left:7%;
    transform:translate(0,-50%);

}
.img-row1-c3 a {
    position: absolute;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(86, 144, 153);
    top:68%;
    left:9%;
    transform:translate(0,-50%);
    padding:10px;
    transition:border 200ms;
}
.img-row1-c3 a:hover {
    border:2px solid rgb(86,144,153);
}
.img-row1-c3 img {
    width:699px;
    height:280px;
}


.img-row2-c2 {
    position:relative;
}
.img-row2-c2 p {
    position:absolute;
    color:rgb(53, 43, 48);
    width:100px;
    font-size:2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:500;
    top:50px;
    left:10%;
}
.img-row2-c2 a {
    position:absolute;
    color:rgb(53, 43, 48);
    text-transform:uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:180px;
    left:12%;
    padding:10px;
    transition:border 200ms;
}
.img-row2-c2 a:hover {
    border:2px solid rgb(53, 43, 48);
}
.img-row2-c2 img {
    width:689px;
    height:310px;
}



.img-row2-c3 img {
    width:310px;
    height:310px;
}
/*----- Section pho -----*/



/*----- Section product -----*/
#product {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-bottom:8rem;
    background: #f8f8f8;;
}
#product header {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:2.7rem 0 4rem;
}
#product header h2 {
    color:rgb(22, 22, 21);
    font-size:3rem;
    letter-spacing: 2.5px;
    text-transform:uppercase;
    font-family: 'JetBrains Mono', monospace;
    margin:0.7rem;
}

#product header div {
    display:flex;
    flex-direction:row;
}
#product header div hr {
    width:250px;
    height:0.0001px;
    border:0.0001px solid gray;
    border-radius:100px;
    background:rgb(22, 22, 21);
}
#product header div div {
    transform:rotate(45deg);
    background:rgb(255, 220, 24);
    height:5px;
    width:5px;
    margin:0 0.5rem;
}

#chair-container {
    width:80%;
    height:70%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-rows:350px 350px;
    column-gap:2rem;
    row-gap: 2rem;
    justify-content: space-around;
    
}
#chair-container .chair-product {
    background:rgb(255, 255, 255);
    border: 1px solid rgb(233, 232, 232);
    border-radius:4px;
    position:relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow:0px 0px 10px 1px rgb(228, 228, 228);
    transition:transform 300ms;
}
#chair-container .chair-product:hover {
    transform: scale(1.1);
}
#chair-container .chair-product img {
    width:100%;
}
#chair-container .chair-product .chair-name {
    margin:0.8rem 1rem;
    font-size:1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform:uppercase;
}
#chair-container .chair-product .chair-description {
    display: block;
    margin:0rem 1rem;
    font-size:0.9rem;
    font-weight:300;
    color:rgb(102, 102, 102);
    font-family:sans-serif;
}
#chair-container .chair-product .chair-price  {
    font-size:1.5rem;
    font-weight:800;
    font-family: 'Trebuchet MS', sans-serif;
    margin:1.3rem 1rem;
}
#chair-container .chair-product .new {
    background: red;
    position: absolute;
    top:-15px;
    left:-40px;
    transform: rotate(-45deg);
}
#chair-container .chair-product .new p {

    text-transform: uppercase;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding:2rem 2rem 0;
}
/*----- Section product -----*/



/*----- Section designers -----*/
#designers {
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(images/center-bg.jpg) scroll center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#designers header {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:3rem;
}
#designers header h2 {
    color:rgb(255, 220, 24);
    font-size:3rem;
    text-transform:uppercase;
    letter-spacing: 2.5px;
    font-family: 'JetBrains Mono', monospace;
    margin:5rem 0 0.7rem;
}

#designers header div {
    display:flex;
    flex-direction:row;
}
#designers header div hr {
    width:250px;
    height:0.0001px;
    border:0.0001px solid gray;
    border-radius:100px;
    background:gray;
}
#designers header div div {
    transform:rotate(45deg);
    background:rgb(255, 220, 24);
    height:5px;
    width:5px;
    margin:0 0.5rem;
}
#designers-container {
    width:60%;
    display:grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 320px;
    column-gap:3%;
    margin:0 auto;
    z-index:2;
}
#designers-container .designer-person {
    position:relative;
    
}
#designers-container .designer-person img {
    display:block;
    width:250px;
    z-index:10;
}
#designers-container .designer-person b {
    display: block;
    margin:0.5rem 0.5rem 0 0;
    font-size:1.1rem;
    font-family: 'JetBrains Mono', monospace;
    color:white;
    width:100%;
}
#designers-container .designer-person b::after {
    content:"";
    height:3px;
    background:rgb(255, 220, 24);
    color:rgb(255, 220, 24);
    display:inline-block;
    margin:0 0 0.15rem 1rem;
    z-index:2;
}
#designers-container .designer-person #b1::after {
    width:47%;
}
#designers-container .designer-person #b2::after {
    width:51%;
}
#designers-container .designer-person #b3::after {
    width:59.5%;
}
#designers-container .designer-person .bg-bg {
    position:absolute;
    bottom:-15%;
    left:-20%;
    z-index:0;
}
/*----- Section designers -----*/



/*----- Section Projects -----*/
#projects {
    width:100%;
    height: 100vh;
    background: rgb(243, 243, 243);
}

#projects header {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:3rem;
}
#projects header h2 {
    color:rgb(22, 22, 21);;
    font-size:3rem;
    text-transform:uppercase;
    letter-spacing: 2.5px;
    font-family: 'JetBrains Mono', monospace;
    margin:5rem 0 0.7rem;
}

#projects header div {
    display:flex;
    flex-direction:row;
}
#projects header div hr {
    width:250px;
    height:0.0001px;
    border:0.0001px solid gray;
    border-radius:100px;
    background:gray;
}
#projects header div div {
    transform:rotate(45deg);
    background:rgb(255, 220, 24);
    height:5px;
    width:5px;
    margin:0 0.5rem;
}
/*----- Section Projects -----*/
