/*----- Global -----*/
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

li {
    list-style-type: none;
}
a {
    text-decoration:none;
    color:black;
}
/*----- Global -----*/




/*----- Body -----*/
body {

}
/*----- Body -----*/




/*----- Navigation -----*/
#navigation {
    display:flex;
    flex-direction:row;
    background-color: rgb(17, 16, 16);
    height:70px;
    padding:0 6rem;
    justify-content: space-around;
    align-items: center;
}

#nav-list {
    display:flex;
    flex-direction: row;
}
#nav-list li {
    margin:0 1rem;
}
#nav-list li a {
    color:white;
    text-transform:uppercase;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: 2px;
    padding:1.32rem 0;
    border-bottom:3px solid transparent;
    transition:border 300ms linear;
}
#nav-list li a:hover {
    border-bottom:4px solid rgb(255, 220, 24);
}

#right-menu {
    display:flex;
    flex-direction:row;
}
#right-menu li {
    margin:0 0.7rem;
}
#right-menu li img {
    cursor: pointer;
}

#menu-bar {
    color:white;
    font-size:1.5rem;
    display: none;
}
#hiden-menu {
    display:none;
}
/*----- Navigation -----*/




/*----- Header -----*/
#header {
    width: 100%;
    height:590px;
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(images/header-bg.jpg)   scroll  round;
    background-size: cover;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding-left:10rem;
}
#header p {
    color:white;
    font-size:1.2rem;
    font-family: sans-serif;
}
#header p::before {
    content: "";
    display:inline-block;
    width:45px;
    height:3.2px;
    background-color: rgb(255, 220, 24);
    margin:0 0.5rem 0.4rem 0;
}
#header p span {
    color:rgb(255, 220, 24);
    font-weight:500;
}
#header h1 {
    width:600px;
    color:white;
    font-size:3rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
    margin-top:1.4rem;
}
#header h1::selection {
    color:rgb(255, 220, 24);
}
/*----- Header -----*/



/*----- Section Us -----*/
#us {
    width:100%;
    height: 600px;
    background-color: rgb(17, 16, 16);
    display:flex;
    flex-direction:column;
    align-items: center;
}
#us header {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:2.7rem 0 2rem;
}
#us header h2 {
    color:rgb(255, 220, 24);
    font-size:3rem;
    text-transform:uppercase;
    letter-spacing: 2.5px;
    font-family: 'JetBrains Mono', monospace;
    margin:0.7rem;
}
#us header div {
    display:flex;
    flex-direction:row;
}
#us header div hr {
    width:250px;
    height:0.0001px;
    border:0.0001px solid gray;
    border-radius:100px;
    background:gray;
}
#us header div div {
    transform:rotate(45deg);
    background:rgb(255, 220, 24);
    height:5px;
    width:5px;
    margin:0 0.5rem;
}

#us #content {
    display: flex;
    flex-direction:row;
    color:white;
}
#us #content h3 {
    color:rgb(255, 220, 24);
    letter-spacing: 2px;
    font-family: 'JetBrains Mono', monospace;
}
#us #content #float {
    text-align: right;
}
#us #content .left {
    width: 350px;
    display: flex;
    flex-direction: row;
    margin:3rem -1rem;
    align-items: center;
    justify-items: center;
}
#us #content .left img {
    height:60px;
    width:55px;
    margin:1rem;
}
#us #content .left h3 {
    margin:0.9rem 0;
}


#us #content .center {
    margin-top:2rem;
}

#us #content .right {
    width: 350px;
    display: flex;
    flex-direction: row;
    margin:3rem -1rem;
    align-items: center;
    justify-items: center;
}
#us #content .right img {
    width:55px;
    height:60px;
    margin:1rem;
}
#us #content .right h3 {
    margin:0.9rem 0;
}
#us #content .right p, #us #content .left p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*----- Section Us -----*/



/*----- Section pho -----*/
#pho {
    width:100%;
    display:flex;
    flex-direction:row;
    background:rgb(238, 235, 235);
    overflow:hidden;
}
#pho img {
    display: block;
}

#pho .row {
    display:flex;
    flex-direction:column;
}
#pho .row div {
    display:flex;
    flex-direction:row;
}


.img-row1-c1 {
    position:relative;
}
.img-row1-c1 p {
    text-transform: uppercase;
    position: absolute;
    font-size:2rem;
    font-weight:500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(113, 149, 0);
    width:100px;
    top:70px;
    left:70px;
    letter-spacing:3px;
}
.img-row1-c1 a {
    position:absolute;
    color:rgb(113, 149, 0);
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:200px;
    left:80px;
    padding:10px;
    transition:border 200ms linear;
}
.img-row1-c1 a:hover {
    border:2px solid rgb(113, 149, 0);
}
.img-row1-c1 img {
    width:25vw;
    height:595px;
}



.img-row1-c2 img {
    width: 23vw;
    height:280px;
}


.img-row1-c3 {
    position:relative;
}
.img-row1-c3 p {
    position: absolute;
    font-size:2rem;
    font-weight:500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(86, 144, 153);
    width:250px;
    text-transform: uppercase;
    letter-spacing: 3px;
    top:35%;
    left:7%;
    transform:translate(0,-50%);

}
.img-row1-c3 a {
    position: absolute;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(86, 144, 153);
    top:68%;
    left:9%;
    transform:translate(0,-50%);
    padding:10px;
    transition:border 200ms linear;
}
.img-row1-c3 a:hover {
    border:2px solid rgb(86,144,153);
}
.img-row1-c3 img {
    width:52vw;
    height:280px;
}


.img-row2-c2 {
    position:relative;
}
.img-row2-c2 p {
    position:absolute;
    color:rgb(53, 43, 48);
    width:100px;
    font-size:2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:500;
    top:50px;
    left:10%;
}
.img-row2-c2 a {
    position:absolute;
    color:rgb(53, 43, 48);
    text-transform:uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top:180px;
    left:12%;
    padding:10px;
    transition:border 200ms linear;
}
.img-row2-c2 a:hover {
    border:2px solid rgb(53, 43, 48);
}
.img-row2-c2 img {
    width:50.1vw;
    height:310px;
}



.img-row2-c3 img {
    width:24vw;
    height:310px;
}
/*----- Section pho -----*/



/*----- Section product -----*/
#product {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items: center;
    padding-bottom:8rem;
    background: #f8f8f8;;
}

#product header {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin:2.7rem 0 4rem;
}
#product header h2 {
    color:rgb(22, 22, 21);
    font-size:3rem;
    letter-spacing: 2.5px;
    text-transform:uppercase;
    font-family: 'JetBrains Mono', monospace;
    margin:0.7rem;
}

#product header div {
    display:flex;
    flex-direction:row;
}
#product header div hr {
    width:250px;
    height:0.0001px;
    border:0.0001px solid gray;
    border-radius:100px;
    background:rgb(22, 22, 21);
}
#product header div div {
    transform:rotate(45deg);
    background:rgb(255, 220, 24);
    height:5px;
    width:5px;
    margin:0 0.5rem;
}

#chair-container {
    width:80%;
    height:70%;
    display:grid;
    grid-template-columns:repeat(auto-fit,245px);
    grid-template-rows:350px 350px;
    column-gap:2rem;
    row-gap: 2rem;
    justify-content: space-around;
}
#chair-container .chair-product {
    background:rgb(255, 255, 255);
    border: 1px solid rgb(233, 232, 232);
    border-radius:4px;
    position:relative;
    overflow: hidden;
    cursor: pointer;
    box-shadow:0px 0px 10px 1px rgb(228, 228, 228);
    transition:transform, background,  300ms linear ;
}
#chair-container .chair-product:hover {
    transform: scale(1.1);
}
#chair-container .chair-product img {
    width:100%;
}
#chair-container .chair-product .chair-name {
    margin:0.8rem 1rem;
    font-size:1.2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-transform:uppercase;
}
#chair-container .chair-product .chair-description {
    display: block;
    margin:0rem 1rem;
    font-size:0.9rem;
    font-weight:300;
    color:rgb(102, 102, 102);
    font-family:sans-serif;
}
#chair-container .chair-product .chair-price  {
    font-size:1.5rem;
    font-weight:800;
    font-family: 'Trebuchet MS', sans-serif;
    margin:1.3rem 1rem;
}
#chair-container .chair-product .new {
    background: red;
    position: absolute;
    top:-15px;
    left:-40px;
    transform: rotate(-45deg);
}
#chair-container .chair-product .new p {
    text-transform: uppercase;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding:2rem 2rem 0;
}


#chair-container #hover {
    width:100%;
    height:100%;
    position:absolute;
    z-index:5;
    bottom:-100%;
    left:0;
    background:rgba(0, 0, 0, 0.452);
    transition:bottom 300ms linear;
    pointer-events: none;
}
#chair-container #hover ul {
    width:50%;
    height:50px;
    display:flex;
    flex-direction:row;
    margin:40% auto;
    background:rgba(0, 0, 0, 0.582);
    border-radius:10px;
}
#chair-container #hover ul li {
    width:30px;
    margin: 0.5rem;
    cursor:pointer;
}

.hover-on #hover {
    bottom:0% !important;
    cursor: default;
}
/*----- Section product -----*/



/*----- Section designers -----*/
#designers {
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(images/center-bg.jpg) scroll center;
    background-size: cover;
    width: 100%;
    height: 650px;
}

#designers header {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:3rem;
}
#designers header h2 {
    color:rgb(255, 220, 24);
    font-size:3rem;
    text-transform:uppercase;
    letter-spacing: 2.5px;
    font-family: 'JetBrains Mono', monospace;
    margin:5rem 0 0.7rem;
}

#designers header div {
    display:flex;
    flex-direction:row;
}
#designers header div hr {
    width:250px;
    height:0.0001px;
    border:0.0001px solid gray;
    border-radius:100px;
    background:gray;
}
#designers header div div {
    transform:rotate(45deg);
    background:rgb(255, 220, 24);
    height:5px;
    width:5px;
    margin:0 0.5rem;
}
#designers-container {
    width:60%;
    display:grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 320px;
    column-gap:3%;
    margin:0 auto;
    z-index:2;
}
#designers-container .designer-person {
    position:relative;
    
}
#designers-container .designer-person img {
    display:block;
    width:250px;
    z-index:10;
}
#designers-container .designer-person b {
    display: block;
    margin:0.5rem 0.5rem 0 0;
    font-size:1.1rem;
    font-family: 'JetBrains Mono', monospace;
    color:white;
    width:100%;
}
#designers-container .designer-person b::after {
    content:"";
    height:3px;
    background:rgb(255, 220, 24);
    color:rgb(255, 220, 24);
    display:inline-block;
    margin:0 0 0.15rem 1rem;
    z-index:2;
}
#designers-container .designer-person #b1::after {
    width:47%;
}
#designers-container .designer-person #b2::after {
    width:51%;
}
#designers-container .designer-person #b3::after {
    width:59.5%;
}
#designers-container .designer-person .bg-bg {
    position:absolute;
    bottom:-15%;
    left:-20%;
    z-index:0;
}
/*----- Section designers -----*/



/*----- Section Projects -----*/
#projects {
    width:100%;
    height: 820px;
    background: rgb(243, 243, 243);
}

#projects header {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:3rem;
}
#projects header h2 {
    color:rgb(22, 22, 21);;
    font-size:3rem;
    text-transform:uppercase;
    letter-spacing: 2.5px;
    font-family: 'JetBrains Mono', monospace;
    margin:5rem 0 0.7rem;
}

#projects header div {
    display:flex;
    flex-direction:row;
}
#projects header div hr {
    width:250px;
    height:0.0001px;
    border:0.0001px solid gray;
    border-radius:100px;
    background:gray;
}
#projects header div div {
    transform:rotate(45deg);
    background:rgb(255, 220, 24);
    height:5px;
    width:5px;
    margin:0 0.5rem;
}


#projects-container {
    background:rgb(41, 41, 41);
    width:100%;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
}
#projects-container .project {
    position:relative;
    margin-top:4px;
    overflow: hidden;
}
#projects-container .project .img-ex {
    width:265px;
    height:600px;
}
#projects-container .project .rev {
    transform:scaleX(-1);
}
#projects-container .project h4 {
    position: absolute;
    top:5%;
    left:10px;
    color:white;
    font-size:1.5rem;
    font-weight:600;
    font-family: 'JetBrains Mono', monospace;
    width:260px;
    text-transform: uppercase;
    letter-spacing:3px;
    z-index:3;
}
#projects-container .project p {
    position:absolute;
    color:white;
    width:100%;
    z-index:3;
    font-size:1.1rem;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing:3px;
    font-family: 'JetBrains Mono', monospace;
    bottom: 30%;
    left:-110px;
    transform: rotateZ(-90deg);
    z-index:5;
}
#projects-container .project .bg { /*----- chadow background -----*/
    position:absolute;
    background: rgba(41, 40, 40, 0.411);
    height:100%;
    width:100%;
    left: 0;
    top:0;
}
/*----- Section Projects -----*/




/*----- Section Blog -----*/
#blogs {
    width:100%;
    padding-bottom:5rem;
    background:rgb(247, 247, 247);
}
#blogs header {
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom:4rem;
}
#blogs header h2 {
    color:rgb(22, 22, 21);;
    font-size:3rem;
    text-transform:uppercase;
    letter-spacing: 2.5px;
    font-family: 'JetBrains Mono', monospace;
    margin:5rem 0 0.7rem;
}

#blogs header div {
    display:flex;
    flex-direction:row;
}
#blogs header div hr {
    width:250px;
    height:0.0001px;
    border:0.0001px solid gray;
    border-radius:100px;
    background:gray;
}
#blogs header div div {
    transform:rotate(45deg);
    background:rgb(255, 220, 24);
    height:5px;
    width:5px;
    margin:0 0.5rem;
}

#blogs-container {
    width:75%;
    display:grid;
    grid-template-columns: repeat(auto-fit,300px);
    grid-template-rows: 460px;
    row-gap: 50px;
    column-gap: 50px;
    align-content: center;
    justify-content: center;
    margin:0 auto;
}
#blogs-container .blog  {
    width:100%;
    border:1px solid rgb(207, 207, 207);
    border-radius:5px;
    background: white;
}
#blogs-container .blog img {
    width:100%;
}
#blogs-container .blog h3 {
    font-size:1.2rem;
    text-transform:uppercase;
    font-family: 'JetBrains Mono', monospace;
    width: 90%;
    margin:1rem 0 1rem 0.7rem;
}
#blogs-container .blog p {
    font-size:1rem;
    font-weight:500;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 90%;
    color:rgb(66, 66, 66);
    margin:0 auto;
}
#blogs-container .blog button {
    padding:0.7rem;
    margin:1rem;
    background:rgb(255, 206, 118);
    font-size:1.16rem;
    font-weight:600;
    font-family: 'JetBrains Mono', monospace;
    text-transform:uppercase;
    border:1px solid rgb(224, 224, 224);
    border-radius:2px;
    cursor: pointer;
    outline-color:rgb(252, 180, 46);
    transition:background 300ms linear;
}
#blogs-container .blog button:hover {
    background-color: rgb(252, 180, 46);
}
/*----- Section Blog -----*/




/*----- Section Footer -----*/
#footer {
    width:100%;
    background:rgb(17, 16, 16);
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 170px 170px;
    column-gap: 10px;
    row-gap: 10px;
    padding:0 5rem;
    position:relative;
}
#footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#phon,#visit,#message {
    padding-left: 2rem;
}

#footer #phon {
    border-left:5px solid rgb(252, 180, 46);
    height:100px;
    margin:auto 0;
}
#footer #phon h5 {
    font-size:1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family:'JetBrains Mono', monospace;
    color: rgb(252, 180, 46);
    margin:0 0 1rem 0;
}
#footer #phon b {
    color:rgb(219, 219, 219);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:400;
}


#footer #visit {
    border-left:5px solid rgb(252, 180, 46);
    height:100px;
    margin:auto 0;
}
#footer #visit h5 {
    font-size:1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family:'JetBrains Mono', monospace;
    color: rgb(252, 180, 46);
    margin:0 0 1rem 0;
}
#footer #visit b {
    color:rgb(219, 219, 219);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:400;
}



#footer #message {
    border-left:5px solid rgb(252, 180, 46);
    height:100px;
    margin:auto 0;
}
#footer #message h5 {
    font-size:1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family:'JetBrains Mono', monospace;
    color: rgb(252, 180, 46);
    margin:0 0 1rem 0;
}
#footer #message b {
    color:rgb(219, 219, 219);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:400;
}



#footer #media {
}
#footer #media #social-media {
    display:flex;
    flex-direction:row;
    margin:1rem;
}
#footer #media #social-media a  {
    color:white;
    border-radius:100px;
    margin:0.3rem;
    cursor:pointer;
    transition:color 200ms linear, border 200ms linear;
}
#footer #media #social-media i {
    padding:0.5rem 0.6rem;
    border-radius:100px;
    font-size: 1.5rem;
}
.ff:hover {
    color:rgb(0, 0, 255);

}
.gg:hover {
    color:rgb(78, 66, 66);
}
.tt:hover {
    color:rgb(95, 132, 245);
}
.yy:hover {
    color:rgb(231, 20, 20);
}



#footer #work {
}
#footer #work h5 {
    font-size:1.5rem;
    letter-spacing: 2px;
    font-family:'JetBrains Mono', monospace;
    color:white;
    margin:0 0 1rem 0;
}
#footer #work b {
    color:rgb(172, 172, 172);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:400;
}



#footer #email {
}
#footer #email h5 {
    font-size:1.5rem;
    letter-spacing: 2px;
    font-family:'JetBrains Mono', monospace;
    color:white;
    margin:0 0 1rem 0;
}
#footer #email #input-container {
    position:relative;
    width:56%;
}
#footer #email #input-container a {
    font-size:1.1rem;
    color:rgb(255, 255, 255);
    position:absolute;
    top:50%;
    right:10px;
    z-index:2;
    transform:translate(0,-50%);
    padding:0.5rem;
}
#footer #email input {
    width:220px;
    padding:0.6rem;
    background:rgb(17, 16, 16);
    border:2px solid gray;
    color:gray;
    border-radius:2px;
}
#footer #email p {
    color:rgb(172, 172, 172);
    font-size:0.9rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:400;
    width:310px;
    margin:1rem 0 0 0;
}


#mouhcine {
    text-align: center;
    margin-top:3rem;
}
#mouhcine p {
    color:white;
    position:absolute;
    font-size:1.1rem;
    bottom: 10px;
    left:50%;
    transform: translate(-50%);
}
#mouhcine p span {
    font-family:Caveat;
    font-size:1.5rem;
}
/*----- Section Footer -----*/



/*______ media responsive for mobile and tablet _____*/
@media (max-width:1180px){
    #projects-container {
        grid-template-columns:1fr 1fr 1fr 1fr;
    }
    .hid-pro {
        display:none;
    }
}

@media (max-width:1120px) {
    #navigation {
        justify-content: space-around;
        height:90px;
    }
    #nav-list {
        display:none;
    }

    #menu-bar {
        font-size:1.5rem;
        display: block;
        font-size:3rem;
    }
    #X {
        font-size:3rem;
        position:absolute;
        top:1rem;
        right:2rem;
    }

    #hiden-menu {
        display:flex;
        flex-direction: column;
        background:rgb(22, 22, 21);
        color:white;
        position: fixed;
        top:0%;
        right:-100%;
        height:500px;
        width: 350px;
        transition:right 1s linear;
    }
    #hiden-menu #hiden-nav-list {
        font-size:2rem;
    }
    #hiden-menu #hiden-nav-list li {
        margin:2rem;
    }
    #hiden-menu #hiden-nav-list li a {
        color:white;
        text-transform:uppercase;
        font-family: 'JetBrains Mono', monospace;
        letter-spacing: 2px;
        padding:1.32rem 0;
        border-bottom:3px solid transparent;
        transition:border 300ms linear;
    }

    #hiden-menu #hiden-nav-list li a:hover {
        border-bottom:4px solid rgb(255, 220, 24);
    }




/*----- Section Us -----*/
#us {
    height: 900px;
}


#us #content {
    flex-direction:column;
}

#us #content #float {
    text-align: right;
    display: flex;
    flex-direction:row;
}
#us #content .left {
    margin:3rem 1rem;
}


#us #content .center {
    margin: 0 auto;
}
#us #content .center img {
    width:350px;
}

#us #content .right-container {
    display:flex;
    flex-direction:row;
}
#us #content .right {
    margin:-1rem 1rem;
}
/*----- Section Us -----*/




/*----- Section designers -----*/
#designers {
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(images/center-bg.jpg) scroll center;
    background-size: cover;
    width: 100%;
    height: 100%;
    padding-bottom:1rem;
    text-align:center;
}


#designers-container {
    width:90%;
    grid-template-columns: repeat(auto-fit,250px);
    grid-template-rows: 350px;
    margin-bottom:5rem;
    justify-content: center;
    align-items: center;
}
#designers-container .designer-person {
    margin-bottom:2rem;
}


/*----- Section designers -----*/



/*----- Section Projects -----*/
#projects-container .project p {
    left:-90px;
}
}


@media (max-width:970px) {
    #header {
        padding-left:8rem;
    }
    
/*----- Section pho -----*/
#pho {
    width:100%;
    display:flex;
    flex-direction:row;
    background:rgb(238, 235, 235);
    overflow:hidden;
}




.img-row1-c1 p {
    font-size:1.7rem;
    font-weight:500;
    width:100px;
    top:50px;
    left:40px;
}
.img-row1-c1 a {
    top:150px;
    left:50px;
    padding:7px;
}

.img-row1-c1 img {
    width:25vw;
    height:470px;
}



.img-row1-c2 img {
    width: 23vw;
    height:220px;
}

.img-row1-c3 p {
    font-size:1.6rem;
    width:250px;
    top:35%;
    left:5%;
}
.img-row1-c3 a {
    top:68%;
    left:9%;
    transform:translate(0,-50%);
    padding:7px;
}
.img-row1-c3 a:hover {
    border:2px solid rgb(86,144,153);
}
.img-row1-c3 img {
    width:52vw;
    height:220px;
}


.img-row2-c2 {
    position:relative;
}
.img-row2-c2 p {
    width:100px;
    font-size:1.6rem;
    top:40px;
    left:7%;
}
.img-row2-c2 a {
    top:150px;
    left:10%;
    padding:7px;
}
.img-row2-c2 img {
    width:50.1vw;
    height:250px;
}
.img-row2-c3 img {
    width:24vw;
    height:250px;
}
/*----- Section pho -----*/



/*----- Section Footer -----*/
#footer {
    grid-template-columns:250px 250px;
    grid-template-rows:200px 200px 200px;
    column-gap:2rem;
    align-content: center;
    justify-content: center;
}



#footer #media {
    margin-left:2rem;
}

#footer #media #social-media i {
    font-size: 1.4rem;
}





#footer #email #input-container a {
    top:50%;
    right:0px;
    transform:translate(200%,-50%);
}
#footer #email p {
    width:250px;
}


#mouhcine {
    text-align: center;
    margin-top:5rem;
}

/*----- Section Footer -----*/


#projects-container {

    grid-template-columns:1fr 1fr 1fr ;
}
.hid-pro2 {
    display:none;
}
}


@media (max-width:800px) {

#navigation {
    padding:0 2rem;
}

/*----- Header -----*/
#header {
    padding-left:5rem;
}
#header p {
    font-size:1.1rem;
}

#header p span {
    color:rgb(255, 220, 24);
    font-weight:500;
}
#header h1 {
    width:450px;
    color:white;
    font-size:2.5rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: 'JetBrains Mono', monospace;
    margin-top:1.4rem;
}
#header h1::selection {
    color:rgb(255, 220, 24);
}
/*----- Header -----*/



    
/*----- Section Us -----*/

#us #content {
    display: flex;
    flex-direction:column;
    color:white;
}

#us #content #float {
    text-align: right;
}
#us #content .left {
    width: 300px;
}




#us #content .right {
    width: 300px;
}

/*----- Section Us -----*/


.img-row1-c1 p {
    font-size:1.29rem;
    font-weight:500;
    width:100px;
    top:30px;
    left:30px;
}
.img-row1-c1 a {
    top:110px;
    left:40px;
    padding:7px;
    font-size:0.9rem;
}

.img-row1-c1 img {
    width:25vw;
    height:410px;
}



.img-row1-c2 img {
    width: 23vw;
    height:200px;
}

.img-row1-c3 p {
    font-size:1.29rem;
    top:30%;
    left:5%;
    width:200px;
}
.img-row1-c3 a {
    top:57%;
    left:8%;
    transform:translate(0,-50%);
    padding:7px;
    font-size:0.9rem;

}

.img-row1-c3 img {
    width:52vw;
    height:200px;
}


.img-row2-c2 {
    position:relative;
}
.img-row2-c2 p {
    width:100px;
    font-size:1.29rem;
    top:40px;
    left:7%;
}
.img-row2-c2 a {
    top:120px;
    left:8%;
    padding:7px;
    font-size:0.9rem;
}
.img-row2-c2 img {
    width:50.1vw;
    height:210px;
}
.img-row2-c3 img {
    width:24vw;
    height:210px;
}
}


@media (max-width:740px) {

#pho header h2 {
    font-size:2.5rem;
}
#pho header div hr {
    width:200px;
}

#projects header h2 {
    font-size:2.5rem;
}
#projects header div hr {
    width:200px;
}

#designers header h2 {
    font-size:2.5rem;
}
#designers header div hr {
    width:200px;
}

#product header h2 {
    font-size:2.5rem;
}
#product header div hr {
    width:200px;
}

#us header h2 {
    font-size:2.5rem;
}
#us header div hr {
    width:200px;
}

#blogs header h2 {
    font-size:2.5rem;
}
#blogs header div hr {
    width:200px;
}

    #navigation {
        padding:0 1rem;
    }

    #us #content {
        display: flex;
        flex-direction:column;
        color:white;
        align-items: center;
    }

    #us #content #float {
        display:flex;
        flex-direction:column;
    }
    #us #content .left {
        width: 350px;
        display: flex;
        flex-direction: row;
        margin:1rem;
        align-items: center;
        justify-items: center;
    }


    #us #content  .right-container {
        display:flex;
        flex-direction:column;
    }
    #us #content  .right-container .right {
        margin:1rem;
        width:350px;
    }
    
    #us #content .center {
        display:none;
    }
    /*----- Section Us -----*/
    

    #projects-container {
        grid-template-columns:1fr 1fr;
    }
    .hid-pro4 {
        display:none;
    }

}

@media (max-width:640px) {
    #footer {
        grid-template-columns:210px 210px;
        grid-template-rows:200px 200px 200px;
        column-gap:2rem;
        align-content: center;
        justify-content: center;
    }
}
